.Footer{
    background-color: #000;
    color: white;
    /* position: fixed; */
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
}

.logo{
    color: var(--pink);
    z-index: 9;
    font-size: 30px;
    font-weight: 600;
}

.logo a{
    text-decoration: none;
}

.logo span{
    color: var(--yellow);
}

.Footer a{
    text-decoration: none;
    color: white;
}

.innerFooter{
    width: 80%;
    margin: auto;
    /* padding: 20px 0; */
}

.Footer h1 a{
    color: var(--pink);
}

.Footer h1 a span{
    color: white;
}

.Footeritems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 20px 0;
}

.Footeritems ul{
    display: flex;
    gap: 22px;
}

.Footer ul a{
    transition: .3s;
}

.Footeritems ul a:hover{
    color: var(--pink);
}

.Socialicons{
    display: flex;
    gap: 10px;
}

.Socialicons .icon{
    font-size: 32px;
    background-color: var(--pink);
    padding: 5px;
    border-radius: 50%;
    transition: .4s;
}

.Socialicons .icon:hover{
    background: linear-gradient(to right, var(--yellow), var(--pink));
    color: black;
    /* transform: rotate(360deg); */
}

.Copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.Copyright a{
    color: var(--pink);
}


@media only screen and (max-width:700px) {
    .innerFooter{
        width: 90%;
    }
}

@media only screen and (max-width:600px) {
    .innerFooter .Footeritems{
        flex-direction: column;
        gap: 20px;
    }

    .Socialicons{
        gap: 25px;
    }
}