.Header{
    /* height: 100vh; */
    /* background-color: #effafd; */
    position: relative;
    border: 1px solid rgba(158, 158, 158, 0.166);
}

/* .Header::after{
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 0;
    right: 50px;
    top: 200px;
}  */

.innerHeader{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 17%;
    width: 80%;
    margin: auto;
    padding: 100px 0;
}

.innerHeader p:nth-child(1){
    color: #5F9DF7;
    font-weight: 500;
}

.innerHeader h1{
    font-size: 70px;
    width: 80%;
    margin: 10px 0;
    color: black;
    text-decoration: none;
}

.intro{
    color: rgb(139, 139, 139);
    width: 80%;
    margin: 15px 0;
    font-size: 15px;
    line-height: 25px;
}

.colfirst_btn{
    margin: 35px 0;
}

.colfirst_btn a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s;
}

.colfirst_btn a:nth-child(1){
    color: black;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.527);
}
.colfirst_btn a:nth-child(2){
    color: #5F9DF7;
}

.colfirst_btn a:nth-child(2):hover{
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.342);
    background-color: white;
}

.image{
    width: 500px;
    /* height: 300px; */
    background-size: cover;
    background-position: center;
}

.image img{
    width: 100%;
    height: 100%;
}


/* =======================================
===========Media Quiry=============
=============================== */

@media only screen and (max-width:1200px) {
    .colfirst h1{
        font-size: 50px;
    }
    
    .innerHeader{
        width: 90%;
    }

    .image{
        width: 400px;
    }
}

@media only screen and (max-width:1200px) {
    .image{
        width: 220px;
    }

    .colfirst h1{
        font-size: 45px;
    }

    .intro{
        font-size: 15px;
        width: 90%;
    }

    .innerHeader{
        align-items: center;
    }
}

@media only screen and (max-width:600px) {
    .innerHeader{
        flex-direction: column-reverse;
        top: 0px;
        text-align: center;
        padding: 50px 0;
    }
    
    
    .intro{
        width: 100%;
    }
    
    .colfirst h1{
        width: 100%;
    }
    
    .image{
        margin-bottom: 20px;
        width: 280px;
    }
}

@media only screen and (max-width:600px) {
    .image{
        width: 220px;
    }

.innerHeader{
    text-align: left;
}

    .colfirst h1{
        font-size: 40px;
    }
}