.ProductContainer{
    width: 80%;
    margin: 60px auto;
    max-width: 1400px;
}

.ProductContainer .productshead{
    margin: 40px 0;
}

.ProductContainer .productshead h1{
    font-size: 25px;
}

.innerProductContainer{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}

.Loading{
    color: red;
    text-align: center;
    margin-top: 100px;
}

.Loadbtn{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
}

.Loadbtn a{
    border: 2px solid var(--pink);
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 24px;
    color: var(--pink);
    text-decoration: none   ;
    transition: .3s;
    display: flex;
    align-items: center;
}

.Loadbtn a:hover{
    background-color: var(--pink);
    color: white;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.447);
}

.Loadbtn svg{
    transition: .3s;
    font-size: 20px;
}

.Loadbtn a:hover svg{
    transform: translateX(10px);
}

@media only screen and (max-width:1200px) {
    
    .ProductContainer{
        width: 90%;
    }
}

@media only screen and (max-width:1050px) {
    
    .innerProductContainer{
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (max-width:900px) {
    .innerProductContainer{
        gap: 30px 25px;
    }
}
@media only screen and (max-width:700px) {
    .innerProductContainer{
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (max-width:400px) {
    .innerProductContainer{
        width: 98%;
    }
    .innerProductContainer{
        grid-template-columns: repeat(2, auto);
        gap: 20px;
    }
}


@media only screen and (max-width:350px) {
    .innerProductContainer{
        grid-template-columns: repeat(1, auto);
        /* gap: 20px; */
    }
}